<div id="landing">
    <div class="wrapper">
      <h1 id="title">Enormo Billboards</h1>

      <%= link_to 'All billboards', billboards_path, class: "ui black basic button" %>
      <%= link_to 'View Artists', artists_path, class: "ui black basic button" %>

    </div>

</div>
