<div class="ui top fixed menu">
  <div class="item">
    <img src="/images/logo.png">
  </div>
  <%= link_to 'Home', root_path, class: "item"%>
  <%= link_to 'Billboards', billboards_path, class: "item"%>
  <%= link_to 'Artists', artists_path, class: "item"%>
</div>
