<div class="container">


  <%= form_for @billboard, class: 'ui form' do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>

    <%= f.submit class: "ui violet basic button"  %>
  <% end %>

</div>
