

<div class="container">
  <div class"ui grid">
    <h2>Pick From these Songs</h2>
    <div class "sixteen wide computer column">
      <div class="ui cards">


        <% @songs.each do |song| %>
        <div class="card">
          <div class="content">
            <div class="header">

              Track:

            </div>

            <div class="description">

              <%= song.name %>

            </div>
          </div>
          <div class="extra content">


            <%= link_to 'Add Song', add_song_path(@billboard, song),
                        method: :patch, class: "ui purple basic button" %>

          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
