<%= render '/shared/nav' %>
<div class="ui container billboard">
  <div>
    <h1>The Best Billboards!</h1>
  </div>

  <div class="ui grid">
    <div class="sixteen wide computer column center aligned">
      <%= link_to "Create A New Billboard Today", new_billboard_path, class: "ui blue basic button" %>
    </div>
  </div>


  <div class="ui grid">
    <% @billboards.each do |bill| %>
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <div class="ui card billboard">

          <%= link_to bill.name, billboard_path(bill), class: "ui green button"%>
          Contribute to this list!
        </div>
      </div>
    <% end %>
  </div>
</div>
