<%= render '/shared/nav' %>


<div class="ui container">
  <h1>Make New Billboard</h1>

  <%= render 'form'%>

  <%= link_to 'Back to all Billboards', billboards_path, class: "ui teal basic button" %>

</div>
